body {
    margin: 0;
    padding: 15px 0;
    height: 100vh;
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 4.5rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #d8d1d1;
    margin: 0;
}

.outcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.choice-display {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.choice-display h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#result {
    font-size: 2.5rem; 
    font-weight: 900;
    color: #ffeb3b;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(255, 235, 59, 0.4);
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
    text-align: center;
    background: rgba(255, 255, 255, 0.03);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.player-side, .computer-side {
    flex: 1;
}

.player-side h2, .computer-side h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #778da9;
    margin: 0 0 5px 0;
}

.player-side span, .computer-side span {
    font-size: 2.8rem;
    font-weight: 900;
    color: #ffffff;
    display: block;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.buttons-container {
    display: flex;
    gap: 15px;
}

button {
    background: transparent;
    color: #ffffff;
    border: 3px solid #ebe3e3;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(247, 248, 248, 0.4), inset 0 0 5px rgba(104, 108, 109, 0.2);
}

button:hover {
    background: #ffffff;
    color: #000;
    box-shadow: 0 0 20px #cfd2d3, 0 0 40px #919697;
    transform: translateY(-3px);
}